{% extends "siteTF2/base.html" %}
{% load bootstrap3 %}


{% block content %}

  <p>{{ forum_title }}</p>

  <p><a href="{% url 'siteTF2:forum' %}">Retour a la liste des forums</a> </p>

  <a href="{% url 'siteTF2:ajouterThread' forum.id %}">nouveau sujet</a>

  <br/> <br/>
    {% if thread_list %}
      <table class="table table-bordered">
        {% for thread in thread_list %}

          <tr class="active">
            <td>
              <a href="{% url 'siteTF2:post' forum.id thread.id %}">
                {{ thread.title }}</a>
            </td>
          </tr>
        <tr>
          <td>{{ thread.content}}
          <br/>
          {{ Thread.pub_date }}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Aucun sujet disponible</p>
    {% endif %}

{% endblock %}
